:host {
    text-align: -webkit-center;
}

.contenedor-menu {
    text-align: -webkit-center;
    width: 60%;
    height: auto;
    margin: 20px;
}

.btn-menu {
    position: relative;
    width: 35%;
    border-radius: 10px;
    background: #cdf0cc;
    border: 3px solid #01a65d;
    margin: 5px;
}

.img-btn {
    width: inherit;
    padding: 10px;
}

span {
    font-size: 18px;
    color: #000;
    font-family: cursive;
    display: block;
}

@media screen and (max-width: 998px) {
    .contenedor-menu {
        text-align: -webkit-center;
        width: 75%;
        height: auto;
        margin: 20px;
    }

    .btn-menu {
        width: 50%;
    }
  }



