
<div class="div-input-servicio">
    <label for="cedula">Cedula veterinario:</label>
    <input id="cedula" class="input" name="cedula" type="text" [(ngModel)]="cedulaVeterinaria"/>
    <input id="buscar-cita" class="input-btn-crear" type="submit" value="Buscar citas" (click)="buscarCitasVeterinario()"/>
</div>

<p *ngIf="mostrarResultado">Citas del veterinario {{veterinario.nombreVeterinario}}</p>
<table *ngIf="mostrarResultado">
  <caption>Lista de citas para el veterinario {{veterinario.nombreVeterinario}}</caption>
    <tr>
      <th id="titulo-id">Id</th>
      <th id="titulo-veterinario">Nombre Veterinario</th>
      <th id="titulo-mascota">Nombre Mascota</th>
      <th id="titulo-servicio">Nombre Servicio</th>
      <th id="titulo-pago">Total Pago</th>
      <th id="titulo-fecha">Fecha</th>
    </tr>
    <tr *ngFor="let cita of listaCitasVeterinario">
      <th id="cita-id-{{cita.id}}">{{cita.id}}</th>
      <th id="cita-veterinario-{{cita.id}}">{{cita.nombreVeterinario}}</th>
      <th id="cita-mascota-{{cita.id}}">{{cita.nombreMascota}}</th>
      <th id="cita-servicio-{{cita.id}}">{{cita.nombreServicio}}</th>
      <th id="cita-pago-{{cita.id}}">{{cita.totalPago}}</th>
      <th id="cita-fecha-{{cita.id}}">{{cita.fecha}}</th>
    </tr>
  </table>
