<p>Lista de veterinarios!</p>
<table>
  <caption>Lista de Veterinarios</caption>
  <tr>
    <th id="veterinario-id">Id</th>
    <th id="veterinario-cedula">Cedula Veterinario</th>
    <th id="veterinario-nombre">Nombre Veterinario</th>
  </tr>
  <tr *ngFor="let veterinario of listaVeterinarios">
    <td id="veterinario-id-{{veterinario.id}}">{{veterinario.id}}</td>
    <td id="veterinario-cedula-{{veterinario.id}}">{{veterinario.cedulaVeterinario}}</td>
    <td id="veterinario-nombre-{{veterinario.id}}">{{veterinario.nombreVeterinario}}</td>
  </tr>
</table>