<div class="contenedor-menu">
    <button class="btn-menu" (click)="redireccionPagina('mascota/crear-mascota')"><img src="../../../../../assets/imagenes/agregar.png" alt="Logo agregar" class="img-btn"></button>
    <button class="btn-menu" (click)="redireccionPagina('mascota/crear-mascota')"><img src="../../../../../assets/imagenes/actualizar.png" alt="Logo actualizar" class="img-btn"></button>
    <button class="btn-menu" (click)="redireccionPagina('mascota/crear-mascota')"><img src="../../../../../assets/imagenes/buscar.png" alt="Logo buscar" class="img-btn"></button>
    <button class="btn-menu" (click)="redireccionPagina('mascota/crear-mascota')"><img src="../../../../../assets/imagenes/eliminar.png" alt="Logo eliminar" class="img-btn"></button>
</div>