.contenedor-formulario {
    text-align: center;
}

.formulario-servicio {
    display: inline-block;
    text-align: -webkit-center;
}

.formulario-servicio input {
    width: 40%;
    font-family: cursive;
}

.formulario-servicio label {
    width: 50%;
    text-align: left;
    float: left;
    font-family: cursive;
}

.formulario-servicio select {
    width: 50%;
}

.formulario-servicio .input-btn-crear {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #4bc94947;
    color: rgb(9 93 91);
    border: 3px solid #01a65d;
    border-radius: 10px;
}

.formulario-servicio .campo-input {
    width: 50%;
    margin-left: 0px;
}

.formulario-servicio .campo-input {
    width: 50%;
    margin-left: 0px;
}

.div-input-servicio {
    margin: 10px 0px;
    width: 100%;
}

.alert {
    margin: 15px;
}

span {
    font-size: 18px;
    color: #000;
    font-family: cursive;
    display: block;
}

@media screen and (max-width: 998px) {

    .formulario-servicio {
        padding: 10px;
    }

    .div-input-servicio {
        margin: 5px 0px;
        width: 90%;
    }

    .formulario-servicio label {
        width: 60%;
        font-size: 15px;
    }

    .formulario-servicio select {
        width: 40%;
    }

    .formulario-servicio .campo-input {
        width: 40%;
        margin-left: 0px;
    }

    .formulario-servicio .campo-label {
        width: 60%;
        margin-left: 0px;
    }
}